  <div class="navbar navbar-light">     
       <ul class="nav justify-content-center bg-dark">
            <li class="nav-item ">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link active" aria-current="page" href="/users/new">New User</a>
  </li>
  <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/users">Users</a>
  </li>
  <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/army">THOR</a>
  </li>
  <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/navy">HULK</a>

  </li>
</ul>
</div>